exclude .codex
exclude .gitignore

prune .github
prune .idea
prune .venv
prune dist
prune docs/_build
prune piethorn.egg-info
prune scripts
prune info

exclude piethorn/math/equation.py.old

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
